# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Virtual environments
venv/
env/
ENV/
ai_eda_env/

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints

# Python cache
*.py[cod]

# macOS
.DS_Store

# VS Code
.vscode/
.alcache/
.alpackages/
.snapshots/
.output/

# PyCharm
.idea/

# Logs
*.log

# Local data files
data/
*.csv
*.xlsx
*.xls

# AL specific
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml
